.logo{
  display: flex;
}
.logo_image{
    height:72px;
    width: 44px;
    margin-left: 50px;
}
.logo_text{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  
}
.logo_text img{
  width: 84px;
}
.logo p{
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--primary-color);

}
.container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
}

.registration_login{
    padding-right: 50px;
    display:flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}
.btn {
    background: none;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    cursor: pointer;
    color: var(--primary-color);
  }
  .btn {  
    
    transition: 0.25s;
    
    &:hover,
    &:focus { 
      border: 2px solid gold;
      color: gold;
    }
  }
  
  .btn:hover,
  .btn:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}