.popCategories__title {
    margin-bottom: 40px;
    font-size: var(--font-size-xl);
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;

}

.popCategories__list {
    width: 100%;
    height: 625px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: calc(625px / 2 - 25px);
    gap: 25px;
}
