.btn {
    font-weight: 500;
    height: 40px;
    width: 220px;
    cursor: pointer;
    color: var(--secondary-color-3);
    line-height: var(--font-line-m);
    padding: 0;
}

.clear {
    padding: 0;
    border: none;
    outline: none;
    background: none;
}

.outlined {
    border: none;
    color: var(--primary-color);
    background: none;
}

.primary {
    background: var(--bg-color);
    color: var(--secondary-color-3);
    border: 1px solid var(--primary-color);
    background-color: transparent;
    transition: background-color 0.5s, color 0.5s;
}

.secondary {
    color: var(--bg-color);
    background: var(--secondary-color-3);
    border: 1px solid var(--secondary-color-3);
    transition: background-color 0.5s, color 0.5s;

}

.size_m {
    font: var(--font-m);
}

.size_l {
    font: var(--font-l);
}

.size_xl {
    font: var(--font-xl);
}

.uppercase {
    text-transform: uppercase;
}

.rounded {
    border-radius: 104px;
}

.secondary:hover, .secondary:focus {
    background: transparent;
    color: var(--secondary-color-3);
}

.secondary:focus {
    -moz-outline-radius: 104px;
}

.primary:focus {
    -moz-outline-radius: 104px;
}

.primary:hover, .primary:focus {
    color: var(--bg-color);
    background: var(--secondary-color-3);
}

.btn:active {
    transform: translateY(3px);
}
